Repository vtex-apps/store-components, pull requests merged in 2018-11, with the labels that each got.

#184 Fix product description loader
  CHANGELOG.md
  manifest.json
  react/components/ProductDescription/README.md
  react/components/ProductDescription/global.css
  react/components/ProductDescription/index.js
Labels: bug

#183 Change API of ProductName to use classes prop
  CHANGELOG.md
  react/components/ProductName/README.md
  react/components/ProductName/index.js
Labels: breaking-change, enhancement

#198 Remove Header from store-components
  CHANGELOG.md
  react/Header.js
  react/components/Header/README.md
  react/components/Header/__tests__/Header.test.js
  react/components/Header/components/Modal.js
  react/components/Header/components/TopMenu.js
  react/components/Header/global.css
  react/components/Header/index.js
  react/locales/en-US.json
  react/locales/es-AR.json
  react/locales/pt-BR.json
Labels: breaking-change

#185 Feature/product price css classes
  CHANGELOG.md
  react/components/ProductPrice/Installments.js
  react/components/ProductPrice/README.md
  react/components/ProductPrice/index.js
  react/components/ProductPrice/propTypes.js
Labels: breaking-change, enhancement

#201 Make ProductDescription use design tokens
  CHANGELOG.md
  react/components/ProductDescription/SpecificationRow.js
  react/components/ProductDescription/index.js
Labels: breaking-change, enhancement

#203 Use design tokens in AvailabilitySubscriber
  CHANGELOG.md
  react/components/AvailabilitySubscriber/global.css
  react/components/AvailabilitySubscriber/index.js
Labels: breaking-change, enhancement

#205 Feature/sku selector design tokens
  CHANGELOG.md
  react/components/SKUSelector/components/SelectorItem.js
  react/components/SKUSelector/components/Variation.js
  react/components/SKUSelector/global.css
Labels: breaking-change, enhancement

#204 Use style guide Table in ProductDescription component
  CHANGELOG.md
  react/components/ProductDescription/README.md
  react/components/ProductDescription/SpecificationRow.js
  react/components/ProductDescription/global.css
  react/components/ProductDescription/index.js
Labels: breaking-change

#212 Fix/shipping simulator design
  CHANGELOG.md
  react/components/ProductName/index.js
  react/components/ProductPrice/Installments.js
  react/components/ShippingSimulator/components/ShippingTable.js
  react/components/ShippingSimulator/components/ShippingTableRow.js
  react/components/ShippingSimulator/global.css
  react/components/ShippingSimulator/index.js
Labels: breaking-change, bug, enhancement

#209 Add default css to Share component
  CHANGELOG.md
  react/components/Share/README.md
  react/components/Share/components/SocialButton.js
  react/components/Share/index.js
  react/locales/en-US.json
  react/locales/es-AR.json
  react/locales/pt-BR.json
Labels: breaking-change, enhancement
