Repository vtex-apps/store-components, pull requests merged in 2019-01, with the labels that each got.

#239 Bye pages.json! Welcome store-builder
  CHANGELOG.md
  manifest.json
  react/components/BuyButton/index.js
  react/components/Greeting/index.js
  store/blocks.json
  store/interfaces.json
Labels: enhancement

#245 Change the syntax of routes
  CHANGELOG.md
  manifest.json
  react/components/SKUSelector/index.js
  react/components/SearchBar/components/ResultsList.js
  react/components/SearchBar/images/IconSearch.js
  react/components/SearchBar/index.js
Labels: bug

#252 Fix SearchBar padding in mobile view
  CHANGELOG.md
  manifest.json
  react/components/SearchBar/components/SearchBar.js
Labels: bug

#233 Add CSS modules to Greeting
  CHANGELOG.md
  react/components/Greeting/index.js
  react/components/Greeting/styles.css
Labels: breaking-change, enhancement

#235 Add Support to css modules in CollectionBadges
  CHANGELOG.md
  react/components/CollectionBadges/components/CollectionBadgeItem.js
  react/components/CollectionBadges/components/CustomClasses.js
  react/components/CollectionBadges/index.js
  react/components/CollectionBadges/styles.css
Labels: breaking-change, enhancement

#234 Add suport to css modules in DiscountBadge
  CHANGELOG.md
  react/components/DiscountBadge/index.js
  react/components/DiscountBadge/styles.css
Labels: breaking-change, enhancement

#231 Add CSS modules to AvailabilitySubscriber
  CHANGELOG.md
  react/components/AvailabilitySubscriber/index.js
  react/components/AvailabilitySubscriber/styles.css
Labels: breaking-change, enhancement

#255 Use header elements in ProductDetails instead of span tags
  CHANGELOG.md
  manifest.json
  react/components/ProductDescription/index.js
Labels: bug
